<%= form_with(model: employee) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name, class: 'col-form-label' %>
    <%= form.text_field :first_name, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :last_name, class: 'col-form-label' %>
    <%= form.text_field :last_name, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :email, class: 'col-form-label' %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :occupation, class: 'col-form-label' %>
    <%= form.text_field :occupation, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
