<% # args -> employee: Employee, edit_enabled: bool, path: str, method: symb %>

<div class="container rounded mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"> 
            <img class="rounded-circle mt-5" width="150px" src="<%= profile_pic(employee) %>">
              <span class="font-weight-bold">
                <%= employee.last_name.capitalize %>
              </span>
              <span class="text-black-50">
                <%= employee.email %>
              </span>
              <span></span>
            </div>

        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <%= form_with(model: employee, url: path, method: method) do |f| %>
                <% if employee.errors.any? %>
                  <div id="error_explanation" class="alert alert-danger">
                    <h4><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being edited</h4>
                    <hr/>
                    <ul>
                      <% employee.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <%= f.label :first_name, 'Name' , class: 'labels' %>
                        <%= f.text_field :first_name, class: 'form-control', value: employee.first_name.humanize, disabled: !edit_enabled %>
                    </div>
                    <div class="col-md-6">
                        <%= f.label :last_name, 'Surname', class: 'labels' %>
                        <%= f.text_field :last_name, class: 'form-control', value: employee.last_name.humanize, disabled: !edit_enabled %>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                      <%= f.label :occupation, 'Main Occupation', class: 'labels' %>
                      <% if edit_enabled %>
                        <%= f.select :occupation, occupation_dropdown, class: 'form-control' %>
                      <% else %>
                        <%= f.text_field :occupation, class: 'form-control', value: employee.occupation, disabled: true %>
                      <% end %>

                    </div>
                    <div class="col-md-12">
                        <%= f.label :phone, 'Mobile Number (format: +255 750995366)', class: 'labels' %>
                        <%= f.telephone_field :phone, class: 'form-control', value: employee.phone, disabled: !edit_enabled %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :address1, 'Address Line 1', class: 'labels' %>
                        <%= f.text_field :address1, class: 'form-control', value: employee.address1, disabled: !edit_enabled %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :address2, 'Address Line 2', class: 'labels'%>
                        <%= f.text_field :address2, class: 'form-control', value: employee.address2, disabled: !edit_enabled %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :zip, 'Postcode', class: 'labels' %>
                        <%= f.text_field :zip, class: 'form-control', value: employee.zip, disabled: !edit_enabled %>
                    </div>
                      <%= yield f if block_given? %>
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                      <%= f.submit submit_text(edit_enabled), class: 'btn btn-primary' %>
                    </div>
              <% end %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Contribution Summary</span>
                <%= button_to 'Make new contribution', new_employee_contribution_path(employee), class: 'btn-sm btn-success', method: :get %>
                </div><br>
                <div class="col-md-12">
                <%= label_tag :total_contributions, 'total contributions', class: 'labels' %>
                <%= text_field_tag :total_contributions, employee.contributions.count, class: 'form-control', disabled: true %>
                <br>
                <div class="col-md-12">
                <%= label_tag :latest_contribution, 'latest contribution', class: 'labels' %>
                <%= text_field_tag :latest_contribution, view_contribution(employee.latest_contribution_date), class: 'form-control', disabled: true %>
                </div>
                <div class="col-md-12">
                <%= label_tag :role, 'Role', class: 'labels' %>
                <%= text_field_tag :role, employee.role.to_s.humanize, class: 'form-control', disabled: true %>
                  <br>
                </div>
                  <div class="d-flex flex-lg-row justify-content-around">
                    <%= button_to 'View Admin Info', employee_show_admin_path(employee),
                                  class: 'btn btn-outline-primary btn-lg btn-block',
                                  method: :get
                    %>
                    <%= button_to 'View Elections', employee_elections_path(employee),
                                  class: 'btn btn-outline-primary btn-lg btn-block',
                                  method: :get
                    %>
                  </div>



        </div>
    </div>
</div>
</div>
</div>

<!-- credit: https://bbbootstrap.com/snippets/bootstrap-5-myprofile-90806631 -->
