<div class="container rounded mt-5 mb-5">
  <div class="d-flex justify-content-between">
    <h3>Claims</h3>
    <%= button_to 'Make Claim', new_employee_claim_path(current_employee), class: 'btn btn-success', method: :get %>
  </div>

  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>References</th>
      <th>Approved</th>
      <th>Amount</th>
      <th>Approver</th>
      <th>Type</th>
      <th>Info</th>
      <th>Occured</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @claims.each do |claim| %>
      <tr>
        <td><%= claim.references %></td>
        <td><%= claim.approved %></td>
        <td><%= claim.amount %></td>
        <td><%= claim.approver_id %></td>
        <td><%= claim.type %></td>
        <td><%= claim.info %></td>
        <td><%= claim.occured %></td>
        <td><%= link_to 'Show', claim %></td>
        <td><%= link_to 'Edit', edit_employee_claim_path(claim) %></td>
        <td><%= link_to 'Destroy', claim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>