<%= render 'layouts/navbar' %>

<div class="container rounded mt-5 mb-5">
  <div class="d-flex justify-content-between">
    <h3>Jobs</h3>
    <%= button_to 'log new job', new_employee_job_path, class: 'btn btn-success', method: :get %>
  </div>
  <% if @jobs %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Role</th>
          <th>Total Pay</th>
          <th>Date Started</th>
          <th>Date Completed</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= job.role.humanize %></td>
            <td>$<%= job.total_pay %></td>
            <td><%= job.date_started.strftime('%c') %></td>
            <td><%= job.date_completed.strftime('%c') %></td>
            <td><%= button_to 'Edit Job', edit_employee_job_path(current_employee, job), class: 'btn btn-primary', method: :get %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-dark" role="alert">
      you don't have any contributions yet. Click 
      <%= link_to 'here', new_employee_contribution_path, class: 'alert-link' %>
      to make your first one.
    </div>
  <% end %>
</div>
<br>

