<%= form_with(model: contribution, url: employee_contributions_path(current_employee)) do |form| %>
  <% if contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
        <% contribution.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :amount, class: 'form-label' %>
    <%= form.number_field :amount, value: 2.5, class: 'form-control', max: Contribution::MAX_DONATION_AMOUNT, step: 0.01 %>
  </div>

  <div class="form-group">
    <%= form.label :purpose, class: 'form-label' %>
    <%= form.text_field :purpose, value: 'weekly payment', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
