<div class="container rounded bg-light text-dark mt-5 mb-5">
  <div class="d-flex justify-content-between">
    <h3>Contributions</h3>
    <%= button_to 'make contribution', new_employee_contribution_path, class: 'btn btn-success', method: :get %>
  </div>
  <% if @contributions.present? %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Purpose</th>
          <th>Date Contributed</th>
        </tr>
      </thead>

      <tbody>
        <% @contributions.each do |contribution| %>
          <tr>
            <td><%= contribution.amount %></td>
            <td><%= contribution.purpose %></td>
            <td><%= contribution.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="alert alert-dark" role="alert">
      you don't have any contributions yet. Click 
      <%= link_to 'here', new_employee_contribution_path, class: 'alert-link' %>
      to make your first one.
    </div>
  <% end %>
</div>
<br>

