<%= form_with(model: vote, url: employee_election_vote_path(current_employee, election)) do |form| %>
  <% if vote.errors.any? %>
  <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being submitted:</h2>
  <ul>
    <% vote.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
  <% end %>
  <div class="form-group">
    <%= form.label :candidate %>
    <%= form.collection_select(:candidate, Employee.where.not(role: :contributor), :id, :name) %>
  </div>
  <%= form.submit 'Vote', class: 'btn btn-primary' %>
<% end %>