<nav class="no-shadow navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'BimaGuide', about_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      onclick="toggleCollapse()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', about_path, class: 'nav-link active' %>
	</li>
	<% if employee_signed_in? %>
    <li class="nav-item">
      <%= link_to 'Contribute', employee_contributions_path(current_employee), class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'Job History', employee_jobs_path(current_employee), class: 'nav-link' %>
    </li>
    <% if show_election? %>
          <li class="nav-item alert-warning">
            <%= link_to 'Pending Elections', employee_elections_path(current_employee), class: 'nav-link alert-link' %>
          </li>
    <% end %>
	<% else %>
    <li class="nav-item">
      <%= link_to 'Donate', donation_services_path, class: 'nav-link active' %>
    </li>
  <% end %>
      </ul>

      <div class="btn-group" role="group">
        <% btn_attn, btn_secondary = 'nav-link ', 'nav-link active' %>
        <% if employee_signed_in? %>
          <%= link_to 'Profile', employee_path(current_employee), class: btn_attn, method: :get %>
          <%= link_to 'Logout', destroy_employee_session_path, class: btn_secondary, method: :delete %>
        <% else %>
          <%= link_to 'Register', new_employee_registration_path, class: btn_attn, method: :get %>
          <%= link_to 'Login', new_employee_session_path, class: btn_secondary %>
        <% end %>
      </div>

    </div>
  </div>
</nav>

<script>
  function toggleCollapse() {
      // bootstrap data toggle not working ~ monkey patch
      let navElem = document.getElementById("navbarSupportedContent");
      let navClass = navElem.className;
      if (navClass.includes("collapsed")) {
          navElem.className = navClass.replace("collapsed", "collapse");
      } else {
          navElem.className = navClass.replace("collapse", "collapsed");
      }
  }
</script>
